/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/****GENERAL CLASSES****/
body{
	background-color:#DCDCDC;
	margin:10px;
}
.centeringContainer{
	margin-left:auto;
	margin-right:auto;
	width:1040px;
	position:relative;
	background-color:#F8F8EE;
	overflow:hidden;
}
#appView{
	background-color: #FFFFFF;
}
p, a, h1, h2, h3, h4, h5, h6{
	font-family:Arial, Helvetica, sans-serif;
}

#mainContentArea{
	max-width:825px;
	background-color:#F8F8EE;
	float:left;
}



/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/*****appPreView TEMPLATE****/
#appPreView{
}




/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/*****HEADER****/
.header{
	padding-bottom:10px;
}


/***********************************************************************************************************************************/
/**HEADER TOP AREA**/
.headerTopSection{
	height:90px;
	margin:10px;
}
.headerLogo{
	float: left;
}
.headerLogo a img {
    margin-top: -10px;
}

.headerContactUs{
	float: left;
    margin-left: 10px;
}

#ci07bc{
}

.headerAcctCartCont{
	float: right;
}
.headerAcctCart{
}
.headerCartAcct{
	float: right;
}
.headerCartAcct span{
	margin-left: 5px;
}
.headerCartAcct a img{
	margin-top: 5px;
}
.headerCartAcct a{
	color:#004088;
	text-decoration: underline;
	font-size:12px;
}
.headerCartAcct a:hover{
	color:black;
	text-decoration:none;
}
.headerCartAcct a.headerCartText{
	font-weight:bold;
}

.headerCartDetails{
}
.headerCartDetails a{
	color: #000000;
    float: right;
    font-size: 11px;
    margin-top: 2px;
    text-decoration: none;
}


/***********************************************************************************************************************************/
/**HEADER MID AREA**/

.headerMidSection{
	background: none repeat scroll 0 0 #F6F6EE;
    height: 34px;
    margin: 0 10px;
    position: relative;
}
.headerMidLeftSection{
	float: left;
	margin-top: 1px;
	font-size: 9pt;
	text-decoration:none;
}
div.headerMidLeftSection a{
	font: normal 9pt/32px Arial, Helvetica, sans-serif;
	color: #000;
	margin: 0 10px;
	text-decoration: none;
}
div.headerMidLeftSection a:hover{
	color:#B90505;
}
div.headerMidLeftSection font{
	color: rgb(255, 0, 0);
	display: inline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.headerMidRightSection{
	float: right;
    margin-right: 10px;
    margin-top: 4px;
}


/***********************************************************************************************************************************/
/**HEADER BOTTOM AREA**/
.headerBottomSection{
	background: none repeat scroll 0 0 #016DF4;
    border-radius: 4px;
    height: 33px;
    margin: 7px 10px 0;
}

.headerBottomLeftSection{
	color: #FFFFFF;
    float: left;
    font: bold 12pt/33px Arial,Helvetica,sans-serif;
    margin-left: 10px;
    width: 500px;
}

#headerManufacturerSelect{
	float: right;
    margin-right: 10px;
    margin-top: 6px;
}




/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/*****PERSISTENT SIDEBAR****/
.persistentSidebar{
	background-color: #F8F8EE;
    float: left;
    margin-left: 15px;
    width: 200px;
}

/***********************************************************************************************************************************/
/*****SEARCH BAR****/
.searchBarCont{
	background-color: #FFFFFF;
    border: 1px solid #CDBFB2;
    border-radius: 3px;
    height: 35px;
    margin-top: 3px;
}

#searchButton{
	background-image: url("images/sidebar/searchbutton.gif");
    border: 0 none;
    height: 20px;
    margin-top: 7px;
    width: 24px;
}
.productSearchKeyword{
	background-color: #FFFFFF;
    border: 1px solid #C0C0C0;
    color: #000000;
    float: left;
    font-family: verdana,arial,helvetica;
    font-size: 8pt;
    height: 14px;
    margin-left: 8px;
    margin-right: 3px;
    margin-top: 8px;
}


/***********************************************************************************************************************************/
/*****SEARCH BY CATEGORY****/
.sidebarCategoryCont{
	margin-top:5px;
}
.sidebarCategoryContainer{
	background-color: #FFFFFF;
    border: 1px solid #CDBFB2;
    border-radius: 3px;
    margin-top: 3px;
	padding:5px;
}
.sidebarCategoryContainer a{
	margin-left: 7px;
    padding-left: 17px;
	color: #C30505;
    font-size: 10.6667px;
    text-decoration: none;
	background-image:url(images/sidebar/itemarrow.png);
	background-repeat:no-repeat;
	background-position:left;
}


/***********************************************************************************************************************************/
/*****NEWSLETTER SIGN-UP****/
.sidebarNewsletterCont{
	background-color: #FFFFFF;
    border: 1px solid #CDBFB2;
    border-radius: 3px;
    margin-top: 5px;
}
.sidebarNewsletterCont form fieldset{
	border: medium none;
    padding: 0;
}
.sidebarNewsletterCont form fieldset.userInfo{
	padding-bottom: 7px;
    padding-left: 5px;
}
.sidebarNewsletterCont form fieldset p{
	font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 8pt;
    margin-bottom: 2px;
    margin-top: 2px;
}
.sidebarNewsletterCont form fieldset input.subButton{
	background-image: url("images/sidebar/subscribebutton.gif");
    border: medium none;
    height: 20px;
    margin-top: 3px;
    width: 78px;
}







/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/*****FOOTER****/
.footer{
	background-color: #FFFFFF;
    float: left;
    width: 100%;
}


/***********************************************************************************************************************************/
/*****FOOTER TOP SECTION****/
/***********************************************************************************************************************************/
.footerTopSection{
	background-color: #016DF4;
    border-radius: 3px;
    height: 33px;
    margin: 10px 7px;
    width: 1026px;
}

/***********************************************************************************************************************************/
/*****FOOTER TOP LEFT SECTION****/
.footerTopLeftSection{
	color: #FFFFFF;
    float: left;
    margin-left: 5px;
    width: 500px;
}
.footerTopLeftSection a{
	color: #FFFFFF;
    font-size: 9pt;
    font-weight: normal;
    line-height: 33px;
    text-decoration: none;
}
.footerTopLeftSection a:hover{
	color:#CC0000;
}

/***********************************************************************************************************************************/
/*****FOOTER TOP RIGHT SECTION****/
.footerTopRightSection{
	float:right;
	margin-right:5px;
	margin-top:5px;
}


/***********************************************************************************************************************************/
/*****FOOTER MIDDLE SECTION****/
/***********************************************************************************************************************************/
.footerMiddleSection{
	padding-bottom: 15px;
}

.footerMiddleSection img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 150px;
}

.footerAuthorizeDotNetSeal{
	margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 150px;
}


/***********************************************************************************************************************************/
/*****FOOTER BOTTOM SECTION****/
/***********************************************************************************************************************************/
.footerBottomSection{
	background-color: #F5F6EE;
    border-top: 1px solid #D8D9C9;
    padding-bottom: 10px;
    padding-top: 10px;
}

.footerBottomSection div{
	color: #7D7D7D;
    font-size: 8pt;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
	font-family: Arial,Helvetica,sans-serif;
}
.footerBottomSection div a{
	color: #7D7D7D;
    font-size: 8pt;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
	font-family: Arial,Helvetica,sans-serif;
}
.footerBottomSection div a:hover{
	color:#CC0000;
}







/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/*****HOMEPAGE****/
#homepageTemplate{
}


/***********************************************************************************************************************************/
/*****HOMEPAGE LEFT SECTION****/
/***********************************************************************************************************************************/
.homepageleftSection{
	float: left;
    margin-left: 5px;
    width: 600px;
}

.homepageFeatProdSection{
	float: left;
    width: 100%;
}
.homepageFeatProdTitleBar{
	background: #006ef1; /* Old browsers */
	background: -moz-linear-gradient(top,  #006ef1 0%, #0a55ad 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#006ef1), color-stop(100%,#0a55ad)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #006ef1 0%,#0a55ad 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #006ef1 0%,#0a55ad 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #006ef1 0%,#0a55ad 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #006ef1 0%,#0a55ad 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006ef1', endColorstr='#0a55ad',GradientType=0 ); /* IE6-9 */
    border-radius: 4px;
    float: left;
    margin-bottom: 3px;
    width: 100%;
}
.homepageFeatProdTitleBar p{
	color: #FFFFFF;
    font: bold 10pt/23px Arial,Helvetica,sans-serif;
    left: 10px;
    position: relative;
    top: 0;
	margin-bottom:0;
}
.homepageFeatProdListCont{
	border: 1px solid #CAC4AE;
    border-radius: 3px;
    float: left;
    width: 100%;
}
.homepageFeatProdListCont a{
	text-decoration: none;
	font-family: verdana,arial,helvetica;
    font-size: 8pt;
	color: #666666;
	float:right;
}
.homepageFeatProdListCont a:hover{
	color:#CC0000;
}

.homepageFeatProdList{
}
.homepageFeatProdList div div.mpControlContainer{
	display:none;
}

.homepageShopCatSection{
	float: left;
    margin-top: 10px;
    width: 100%;
}
.homepageShopCatTitleBar{
	background: #006ef1; /* Old browsers */
	background: -moz-linear-gradient(top,  #006ef1 0%, #0a55ad 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#006ef1), color-stop(100%,#0a55ad)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #006ef1 0%,#0a55ad 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #006ef1 0%,#0a55ad 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #006ef1 0%,#0a55ad 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #006ef1 0%,#0a55ad 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006ef1', endColorstr='#0a55ad',GradientType=0 ); /* IE6-9 */
	border-radius:4px;
}
.homepageShopCatTitleBar p{
	color: #FFFFFF;
    font: bold 10pt/23px Arial,Helvetica,sans-serif;
    left: 10px;
    position: relative;
    top: 0;
}

.homepageShopCatList{
	float: left;
    margin: 0;
    padding: 0;
}
.homepageShopCatList li{
	border: 2px solid #3F67D6;
    color: #666666;
    float: left;
    font-family: verdana,arial,helvetica;
    font-size: 8pt;
    height: 210px;
    list-style: none outside none;
    margin: 5px;
    padding: 5px;
    width: 173px;
}
.homepageShopCatList li a img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 140px;
}
.homepageShopCatList li h5{
	color: #666666;
    font-family: verdana,arial,helvetica;
    font-size: 8pt;
	font-weight:bold;
	text-align:center;
}
.homepageShopCatList li p{
	color: #666666;
    font-family: verdana,arial,helvetica;
    font-size: 8pt;
	text-align:center;
}


/***********************************************************************************************************************************/
/*****featuredProductListTemplate****/
.productList > li.featuredProductListTemplate{
	height: 282px;
    width: 176px;
}
li.featuredProductListTemplate div.prodThumbContainer{
	float: none;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 160px;
}
.productList > li.featuredProductListTemplate h3{
	float: none;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 160px;
	color: #000000;
    font: bold 9pt Tahoma,Arial,Helvetica,sans-serif;
    margin-top: 10px;
	text-align:center;
}
.productList > li.featuredProductListTemplate h3:hover{
	color: #000000;
}
.productList > li.featuredProductListTemplate div.featuredProductProdDesc{
	color: #000000;
    font: 9pt Tahoma,Arial,Helvetica,sans-serif;
    margin: 5px 0;
}
.productList > li.featuredProductListTemplate img.featuredProductBuyNow{
	display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    position: relative;
    width: 82px;
}



/***********************************************************************************************************************************/
/*****HOMEPAGE RIGHT SECTION****/
/***********************************************************************************************************************************/
.homepageRightSection{
	float: left;
    margin-left: 5px;
    width: 200px;
}

.rightSidebarBestsellersSection{
}
.rightSidebarBestsellersTitleBar{
	background: #006ef1; /* Old browsers */
	background: -moz-linear-gradient(top,  #006ef1 0%, #0a55ad 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#006ef1), color-stop(100%,#0a55ad)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #006ef1 0%,#0a55ad 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #006ef1 0%,#0a55ad 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #006ef1 0%,#0a55ad 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #006ef1 0%,#0a55ad 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006ef1', endColorstr='#0a55ad',GradientType=0 ); /* IE6-9 */

	background: linear-gradient(to bottom, #006EF1 0%, #0A55AD 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 4px;
    float: left;
    height: 23px;
    width: 100%;
}
.rightSidebarBestsellersTitleBar p{
	color: #FFFFFF;
    font: bold 10pt/23px Arial,Helvetica,sans-serif;
    left: 10px;
    position: relative;
    top: 0;
}

.rightSidebarBestsellersList{
}

.rightSidebarLinksSection{
}
.rightSidebarLinksSection a img{
	background-color: #FFFFFF;
    border: 1px solid #CAC4AE;
    border-radius: 3px;
    margin: 3px;
    padding: 9px 5px;
}


/***********************************************************************************************************************************/
/*****bestsellersProductListTemplate****/
.bestsellerProductList{
	background-color: #FFFFFF;
    border: 1px solid #CAC4AE;
    border-radius: 3px;
    float: left;
    margin-bottom: 3px;
    margin-top: 3px;
    width: 100%;
}
.bestsellersProductListTemplate h3{
	color: #666666;
    float: left;
    font-family: verdana,arial,helvetica;
    font-size: 8pt;
    font-weight: bold;
    margin-left: 8px;
    text-align: center;
    width: 160px;
}
.bestsellersProductListTemplate a{
	color: #0F67EC;
    float: left;
    font-family: verdana,arial,helvetica;
    font-size: 8pt;
    margin-left: 53px;
    margin-top: 5px;
    text-decoration: underline;
}
.bestsellersProductListTemplate a:hover{
	color:#CC0000;
}
.bestsellersProductListTemplate div.prodThumbContainer{
	float: none;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 112px;
}








/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/*****CATEGORY TEMPLATE****/
.categoryMainContentSection{
	float: left;
    margin-left: 5px;
    width: 600px;
}

.categorySidebarSection{
	float: left;
    margin-left: 5px;
    width: 200px;
}







/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/*****CATEGORY LIST TEMPLATE****/
.categoryList > li{
	margin: 0;
	height:156px;
	width:140px;
	padding:5px;
	padding-bottom:10px;
}
.catName{
	font-family: verdana,arial,helvetica;
    font-size: 9pt;
    font-weight: bold;
	color: #0F67EC;
}
.catName:hover{
	color:#CC0000;
}
.thumbContainer{
	width:120px;
	height:120px;
}








/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/*****PRODUCT LIST TEMPLATE****/
.productList > li{
	height: 80px;
    width: 275px;
}

.prodThumbContainer{
	float: left;
    margin-right: 5px;
}

.productList > li h3{
	float: left;
    width: 215px;
	font-family: verdana,arial,helvetica;
    font-size: 8pt;
	color:#0000ee;
}
.productList > li h3:hover{
	color:#CC0000;
}

div.productListPriceSection{
	float: left;
    width: 215px;
	color: #666666;
    font-family: verdana,arial,helvetica;
    font-size: 7pt;
}
div.productListPriceSection h6{
	float: left;
    font-family: verdana,arial,helvetica;
    font-size: 7pt;
    font-weight: normal;
}
div.productListPriceSection h5{
	font-family: verdana,arial,helvetica;
    font-size: 7pt;
    font-weight: normal;
    text-decoration: line-through;
}
div.productListPriceSection h4{
	font-family: verdana,arial,helvetica;
    font-size: 7pt;
	font-weight:bold;
}
div.productListPriceSection span{
	font-family: verdana,arial,helvetica;
    font-size: 7pt;
}
