/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/****GENERAL CLASSES****/
body{
	background-color:#DCDCDC;
	margin:10px;
	font-family:Arial, Helvetica, sans-serif;
}
.centeringContainer{
	margin-left:auto;
	margin-right:auto;
	width:1040px;
	position:relative;
	background-color:#F8F8EE;
	overflow:hidden;
}
#appView{
	background-color: #FFFFFF;
}
p, a, h1, h2, h3, h4, h5, h6{
	font-family:Arial, Helvetica, sans-serif;
}

#mainContentArea{
	max-width:825px;
	background-color:#F8F8EE;
	float:left;
}



/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/*****appPreView TEMPLATE****/
#appPreView{
	margin:0;
	width:100%;
	height:100%;
	background-color:#FFFFFF;
}
#loader{
}
.appPreViewCenteringContainer{
	margin: 0 auto;
    width: 550px;
}
.appPreViewCenteringContainer table{
	display: block;
    margin: 0 auto;
    width: 440px;
}




/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/*****HEADER****/
.header{
	padding-bottom:10px;
}


/***********************************************************************************************************************************/
/**HEADER TOP AREA**/
.headerTopSection{
	height:90px;
	padding:10px;
}
.headerLogo{
	float: left;
}
.headerLogo a img {
    margin-top: -10px;
}

.headerContactUs{
	float: left;
    margin-left: 0;
    margin-top: 15px;
}

#ci07bc{
}

.headerAcctCartCont{
	float: right;
}
.headerAcctCart{
}
.headerCartAcct{
	clear: both;
    float: right;
}
.headerCartAcct span{
	margin-left: 5px;
}
.headerCartAcct a img{
	margin-top: 5px;
}
.headerCartAcct a{
	color:#004088;
	text-decoration: underline;
	font-size:12px;
}
.headerCartAcct a:hover{
	color:black;
	text-decoration:none;
}
.headerCartAcct a.headerCartText{
	font-weight:bold;
}

.headerCartDetails{
	clear: both;
    float: right;
}
.headerCartDetails a{
	color: #000000;
    float: right;
    font-size: 11px;
    margin-top: 2px;
    text-decoration: none;
}


/***********************************************************************************************************************************/
/**HEADER MID AREA**/

.headerMidSection{
	background: none repeat scroll 0 0 #F6F6EE;
    height: 34px;
    margin: 0 10px;
    position: relative;
}
.headerMidLeftSection{
	float: left;
	margin-top: 1px;
	font-size: 9pt;
	text-decoration:none;
}
div.headerMidLeftSection a{
	font: normal 9pt/32px Arial, Helvetica, sans-serif;
	color: #000;
	margin: 0 10px;
	text-decoration: none;
}
div.headerMidLeftSection a:hover{
	color:#B90505;
}
div.headerMidLeftSection font{
	color: rgb(255, 0, 0);
	display: inline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.headerMidRightSection{
	float: right;
    margin-right: 10px;
    margin-top: 4px;
}


/***********************************************************************************************************************************/
/**HEADER BOTTOM AREA**/
.headerBottomSection{
	/*background: none repeat scroll 0 0 #016DF4;*/
	background: none repeat scroll 0 0 #1286b5;
    border-radius: 4px;
    height: 33px;
    margin: 7px 10px 0;
}

.headerBottomLeftSection{
	color: #FFFFFF;
    float: left;
    font: bold 12pt/33px Arial,Helvetica,sans-serif;
    margin-left: 10px;
    width: 500px;
}

#headerManufacturerSelect{
	float: right;
    margin-right: 10px;
    margin-top: 6px;
}

.headerChatSupport{
	float: left;
}




/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/*****PERSISTENT SIDEBAR****/
.persistentSidebar{
	background-color: #F8F8EE;
    float: left;
    margin-left: 15px;
    width: 200px;
}

/***********************************************************************************************************************************/
/*****SEARCH BAR****/
.searchBarCont{
	background-color: #FFFFFF;
    border: 1px solid #CDBFB2;
    border-radius: 3px;
    height: 35px;
    margin-top: 3px;
}

#searchButton{
	background-image: url("images/sidebar/searchbutton.gif");
    border: 0 none;
    height: 20px;
    margin-top: 7px;
    width: 24px;
}
.productSearchKeyword{
	background-color: #FFFFFF;
    border: 1px solid #C0C0C0;
    color: #000000;
    float: left;
    font-family: arial,helvetica;
    font-size: 8pt;
    height: 14px;
    margin-left: 8px;
    margin-right: 3px;
    margin-top: 8px;
}


/***********************************************************************************************************************************/
/*****SEARCH BY CATEGORY****/
.sidebarCategoryCont{
	margin-top:5px;
}
.sidebarCategoryContainer{
	background-color: #FFFFFF;
    border: 1px solid #CDBFB2;
    border-radius: 3px;
    margin-top: 3px;
	padding:5px;
}
.sidebarCategoryContainer a{
	margin-left: 7px;
    padding-left: 17px;
	color: #C30505;
    font-size: 10.6667px;
    text-decoration: none;
	background-image:url(images/sidebar/itemarrow.png);
	background-repeat:no-repeat;
	background-position:left;
}


/***********************************************************************************************************************************/
/*****NEWSLETTER SIGN-UP****/
.sidebarNewsletterCont{
	background-color: #FFFFFF;
    border: 1px solid #CDBFB2;
    border-radius: 3px;
    margin-top: 5px;
}
.sidebarNewsletterCont form fieldset{
	border: medium none;
    padding: 0;
}
.sidebarNewsletterCont form fieldset.userInfo{
	padding-bottom: 7px;
    padding-left: 5px;
}
.sidebarNewsletterCont form fieldset p{
	font-family: Arial,Helvetica,sans-serif;
    font-size: 8pt;
    margin-bottom: 2px;
    margin-top: 2px;
}
.sidebarNewsletterCont form fieldset input.subButton{
	background-image: url("images/sidebar/subscribebutton.gif");
    border: medium none;
    height: 20px;
    margin-top: 3px;
    width: 78px;
}







/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/*****FOOTER****/
.footer{
	background-color: #FFFFFF;
    float: left;
    width: 100%;
}


/***********************************************************************************************************************************/
/*****FOOTER TOP SECTION****/
/***********************************************************************************************************************************/
.footerTopSection{
	/*background-color: #016DF4;*/
	background-color: #1b84b4;
    border-radius: 3px;
    height: 33px;
    margin: 10px 7px;
    width: 1026px;
}

/***********************************************************************************************************************************/
/*****FOOTER TOP LEFT SECTION****/
.footerTopLeftSection{
	color: #FFFFFF;
    float: left;
    margin-left: 5px;
    width: 500px;
}
.footerTopLeftSection a{
	color: #FFFFFF;
    font-size: 9pt;
    font-weight: normal;
    line-height: 33px;
    text-decoration: none;
}
.footerTopLeftSection a:hover{
	color:#CC0000;
}

/***********************************************************************************************************************************/
/*****FOOTER TOP RIGHT SECTION****/
.footerTopRightSection{
	float:right;
	margin-right:5px;
	margin-top:5px;
}


/***********************************************************************************************************************************/
/*****FOOTER MIDDLE SECTION****/
/***********************************************************************************************************************************/
.footerMiddleSection{
	padding-bottom: 15px;
}

.footerMiddleSection img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 150px;
}

.footerAuthorizeDotNetSeal{
	margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 150px;
}


/***********************************************************************************************************************************/
/*****FOOTER BOTTOM SECTION****/
/***********************************************************************************************************************************/
.footerBottomSection{
	background-color: #F5F6EE;
    border-top: 1px solid #D8D9C9;
    padding-bottom: 10px;
    padding-top: 10px;
}

.footerBottomSection div{
	color: #7D7D7D;
    font-size: 8pt;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
	font-family: Arial,Helvetica,sans-serif;
}
.footerBottomSection div a{
	color: #7D7D7D;
    font-size: 8pt;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
	font-family: Arial,Helvetica,sans-serif;
}
.footerBottomSection div a:hover{
	color:#CC0000;
}







/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/*****HOMEPAGE****/
#homepageTemplate{
}


/***********************************************************************************************************************************/
/*****HOMEPAGE LEFT SECTION****/
/***********************************************************************************************************************************/
.homepageleftSection{
	float: left;
    margin-left: 5px;
    width: 600px;
}

.homepageFeatProdSection{
	float: left;
    width: 100%;
}
.homepageFeatProdTitleBar{
	border-radius: 4px;
    float: left;
    margin-bottom: 3px;
    width: 100%;
	height:25px;
	/*
	background: #006ef1; /* Old browsers */
	/*background: -moz-linear-gradient(top,  #006ef1 0%, #0a55ad 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#006ef1), color-stop(100%,#0a55ad)); /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top,  #006ef1 0%,#0a55ad 100%); /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top,  #006ef1 0%,#0a55ad 100%); /* Opera 11.10+ */
	/*background: -ms-linear-gradient(top,  #006ef1 0%,#0a55ad 100%); /* IE10+ */
	/*background: linear-gradient(to bottom,  #006ef1 0%,#0a55ad 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006ef1', endColorstr='#0a55ad',GradientType=0 ); /* IE6-9 */
	background: #31aeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #31aeee 0%, #1e88b0 54%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#31aeee), color-stop(54%,#1e88b0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #31aeee 0%,#1e88b0 54%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #31aeee 0%,#1e88b0 54%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #31aeee 0%,#1e88b0 54%); /* IE10+ */
	background: linear-gradient(to bottom,  #31aeee 0%,#1e88b0 54%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31aeee', endColorstr='#1e88b0',GradientType=0 ); /* IE6-9 */
}
.homepageFeatProdTitleBar p{
	color: #FFFFFF;
    font: bold 10pt/23px Arial,Helvetica,sans-serif;
    left: 10px;
    position: relative;
    top: 0;
	margin-bottom:0;
}
.homepageFeatProdListCont{
	border: 1px solid #CAC4AE;
    border-radius: 3px;
    float: left;
    width: 100%;
}
.homepageFeatProdListCont a{
	text-decoration: none;
	font-family: arial,helvetica;
    font-size: 8pt;
	color: #666666;
	float:right;
}
.homepageFeatProdListCont a:hover{
	color:#CC0000;
}

.homepageFeatProdList{
}
.homepageFeatProdList div div.mpControlContainer{
	display:none;
}

.homepageShopCatSection{
	float: left;
    margin-top: 10px;
    width: 100%;
}
.homepageShopCatTitleBar{
	background: #31aeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #31aeee 0%, #1e88b0 54%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#31aeee), color-stop(54%,#1e88b0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #31aeee 0%,#1e88b0 54%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #31aeee 0%,#1e88b0 54%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #31aeee 0%,#1e88b0 54%); /* IE10+ */
	background: linear-gradient(to bottom,  #31aeee 0%,#1e88b0 54%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31aeee', endColorstr='#1e88b0',GradientType=0 ); /* IE6-9 */
	border-radius:4px;
	height:25px;
}
.homepageShopCatTitleBar p{
	color: #FFFFFF;
    font: bold 10pt/23px Arial,Helvetica,sans-serif;
    left: 10px;
    position: relative;
    top: 0;
}

.homepageShopCatList{
	float: left;
    margin: 0;
    padding: 0;
}
.homepageShopCatList li{
	border: 2px solid #1286B5;
    color: #666666;
    float: left;
    font-family: arial,helvetica;
    font-size: 8pt;
    height: 210px;
    list-style: none outside none;
    margin: 5px;
    padding: 5px;
    width: 173px;
}
.homepageShopCatList li a img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 140px;
}
.homepageShopCatList li h5{
	color: #666666;
    font-family: arial,helvetica;
    font-size: 8pt;
	font-weight:bold;
	text-align:center;
}
.homepageShopCatList li p{
	color: #666666;
    font-family: arial,helvetica;
    font-size: 8pt;
	text-align:center;
}


/***********************************************************************************************************************************/
/*****featuredProductListTemplate****/
.productList > li.featuredProductListTemplate{
	height: 210px;
    width: 176px;
	border-right:1px solid transparent;
	border-image:url(images/homepage/featured/border.gif) 1 202;
	padding-right:10px;
	margin:5px;
}
li.featuredProductListTemplate div.prodThumbContainer{
	float: none;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 160px;
}
.productList > li.featuredProductListTemplate h3{
	float: none;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 160px;
	color: #000000;
    font: bold 9pt Arial,Helvetica,sans-serif;
    margin-top: 10px;
	text-align:center;
}
.productList > li.featuredProductListTemplate h3:hover{
	color: #000000;
}
.productList > li.featuredProductListTemplate div.featuredProductProdDesc{
	color: #000000;
    font: 9pt Tahoma,Arial,Helvetica,sans-serif;
    margin: 5px 0;
}
.productList > li.featuredProductListTemplate img.featuredProductBuyNow{
	display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    position: relative;
    width: 82px;
}

.homepageFeatProdList div .productList > li.featuredProductListTemplate:nth-child(3){
	border:none;
}



/***********************************************************************************************************************************/
/*****HOMEPAGE RIGHT SECTION****/
/***********************************************************************************************************************************/
.homepageRightSection{
	float: left;
    margin-left: 5px;
    width: 200px;
}

.rightSidebarBestsellersSection{
}
.rightSidebarBestsellersTitleBar{
	/*
	background: #006ef1; /* Old browsers */
	/*background: -moz-linear-gradient(top,  #006ef1 0%, #0a55ad 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#006ef1), color-stop(100%,#0a55ad)); /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top,  #006ef1 0%,#0a55ad 100%); /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top,  #006ef1 0%,#0a55ad 100%); /* Opera 11.10+ */
	/*background: -ms-linear-gradient(top,  #006ef1 0%,#0a55ad 100%); /* IE10+ */
	/*background: linear-gradient(to bottom,  #006ef1 0%,#0a55ad 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006ef1', endColorstr='#0a55ad',GradientType=0 ); /* IE6-9 */
	/*background: linear-gradient(to bottom, #006EF1 0%, #0A55AD 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	*/
	background: #31aeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #31aeee 0%, #1e88b0 54%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#31aeee), color-stop(54%,#1e88b0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #31aeee 0%,#1e88b0 54%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #31aeee 0%,#1e88b0 54%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #31aeee 0%,#1e88b0 54%); /* IE10+ */
	background: linear-gradient(to bottom,  #31aeee 0%,#1e88b0 54%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31aeee', endColorstr='#1e88b0',GradientType=0 ); /* IE6-9 */

    border-radius: 4px;
    float: left;
    height: 25px;
    width: 100%;
}
.rightSidebarBestsellersTitleBar p{
	color: #FFFFFF;
    font: bold 10pt/23px Arial,Helvetica,sans-serif;
    left: 10px;
    position: relative;
    top: 0;
}

.rightSidebarBestsellersList{
}

.rightSidebarLinksSection{
}
.rightSidebarLinksSection a img{
	background-color: #FFFFFF;
    border: 1px solid #CAC4AE;
    border-radius: 3px;
    margin: 3px;
    padding: 9px 5px;
}


/***********************************************************************************************************************************/
/*****bestsellersProductListTemplate****/
.bestsellerProductList{
	background-color: #FFFFFF;
    border: 1px solid #CAC4AE;
    border-radius: 3px;
    float: left;
    margin-bottom: 3px;
    margin-top: 3px;
    width: 100%;
}
.bestsellersProductListTemplate h3{
	color: #666666;
    float: left;
    font-family: arial,helvetica;
    font-size: 8pt;
    font-weight: bold;
    margin-left: 8px;
    text-align: center;
    width: 160px;
}
.bestsellersProductListTemplate a{
	color: #0F67EC;
    float: left;
    font-family: arial,helvetica;
    font-size: 8pt;
    margin-left: 53px;
    margin-top: 5px;
    text-decoration: underline;
}
.bestsellersProductListTemplate a:hover{
	color:#CC0000;
}
.bestsellersProductListTemplate div.prodThumbContainer{
	float: none;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 112px;
}








/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/*****CATEGORY TEMPLATE****/
.categoryMainContentSection{
	float: left;
    margin-left: 5px;
    width: 600px;
}

.categorySidebarSection{
	float: left;
    margin-left: 5px;
    width: 200px;
}

.breadcrumb li a{
	text-decoration: none;
	color: #0F67EC;
	font-size: 9pt;
}
.breadcrumb li a:hover{
	color:#CC0000;
}

.catBannerCarousel{
}







/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/*****CATEGORY LIST TEMPLATE****/
.categoryList > li{
	margin: 0;
	height:156px;
	width:140px;
	padding:5px;
	padding-bottom:10px;
}
.catName{
	font-family: arial,helvetica;
    font-size: 9pt;
    font-weight: bold;
	color: #0F67EC;
}
.catName:hover{
	color:#CC0000;
}
.thumbContainer{
	width:120px;
	height:120px;
}








/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/*****CATEGORY LIST Product Page TEMPLATE****/
.categoryList > li.categoryListProductPageTemplate{
	clear: left;
    float: left;
    height: 15px;
    margin-bottom: 5px;
    padding: 0;
	width:100%;
}







/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/*****PRODUCT LIST TEMPLATE****/
.productList > li{
	height: 181px;
    width: 275px;
}

.productListContentContainer{
	border:solid 1px #CAC4AE;
}
.productListProductInfoContainer{
	border:solid 1px #CAC4AE;
	border-top:none;
	height:56px;
	overflow:hidden;
}
.productListProductInfoContainer div{
	color: #666666;
    font-family: arial,helvetica;
    font-size: 8pt;
}

.prodThumbContainer{
	float: left;
    margin: 5px;
}

.productList > li h3{
	color: #0F67EC;
    float: left;
    font-family: arial,helvetica;
    font-size: 11pt;
    font-weight: 700;
    margin-top: 5px;
    width: 155px;
}
.productList > li h3:hover{
	color:#CC0000;
}

div.productListPriceSection{
	float: left;
    width: 155px;
	color: #666666;
    font-family: arial,helvetica;
}
div.productListPriceSection h6{
	float: left;
    font-family: arial,helvetica;
    font-size: 9pt;
    font-weight: normal;
}
div.productListPriceSection h5{
	font-family: arial,helvetica;
    font-size: 9pt;
    font-weight: normal;
    text-decoration: line-through;
}
div.productListPriceSection h4{
	font-family: arial,helvetica;
    font-size: 9pt;
	font-weight:bold;
}
div.productListPriceSection span{
	font-family: arial,helvetica;
    font-size: 9pt;
}

.prodViewerAddToCartForm{
	margin-bottom: 0;
}
.prodViewerAddToCartForm p{
	color: #0F67EC;
    display: inline-block;
    float: right;
    font-family: arial,helvetica;
    font-size: 12px;
    font-weight: normal;
	margin-bottom:0;
}
.prodViewerAddToCartForm p:hover{
	color:#CC0000;
}
.prodViewerAddToCartForm h5{
	color: #666666;
    display: inline-block;
    float: right;
    font-family: arial,helvetica;
    font-size: 9pt;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -1px;
}
.prodViewerAddToCartForm button{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #0F67EC;
    display: inline-block;
    float: right;
    font-family: arial,helvetica;
    font-size: 12px;
    font-weight: bold;
	margin-right:13px;
}
.prodViewerAddToCartForm button:hover{
	color:#CC0000;
}
.prodViewerAddToCartForm button span.ui-button-text{
	padding:0;
}






/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/*****PRODUCT TEMPLATE****/
.productPage{
}
.prodViewerContainer{
	background-color: #FFFFFF;
    margin: 5px 5px 0;
    width: 715px;
}

.imageContainer{
	display: block;
    padding: 5px;
    width: 260px;
}
.largeImageContainer{
	border: 1px solid #797979;
    border-radius: 3px;
    padding: 10px;
    width: 200px;
}
.prodViewerContainer .prodThumbs div.prodThumb{
	border: 1px solid #CAC4AE;
    border-radius: 3px;
    margin: 5px 3px 5px 0;
}
.prodViewerContainer .prodThumbs div{
	margin: 0;
}

.prodSummaryContainer{
	padding:5px;
}
.prodSummaryContainer h1{
	color: #F21300;
    font-size: 10pt;
	margin-top: 10px;
}

.priceContainer{
	margin-top:10px;
}
.prodSummaryContainer h5.prodMSRPPretext{
	display:block;
	float:left;
	color: #000000;
    font-family: arial,helvetica;
    font-size: 8pt;
	height:25px;
}
.prodSummaryContainer h5.prodMSRP{
	text-decoration: line-through;
	color: #000000;
    font-family: arial,helvetica;
    font-size: 8pt;
	height:25px;
}
.prodSummaryContainer h4.basePrice{
	color: #006EF1;
    font-family: arial,helvetica;
    font-size: 8pt;
    font-weight: bold;
    margin-bottom: 10px;
}
.prodSummaryContainer span.savings{
	color: #000000;
    font-family: arial,helvetica;
    font-size: 8pt;
	font-weight: bold;
}

.prodViewerContainer hgroup.marginBottom h5{
	color: #F21300;
	font:bold 9pt/25px Arial,Helvetica,sans-serif;
}

.productShipsWithinCont{
}
.productShipsWithinCont h3{
	font-size: 8pt;
    font-weight: normal;
	color: #000000;
}
.productShipsWithinCont2{
}
.productShipsWithinCont2 h3{
	color: #000000;
    font-family: arial,helvetica;
    font-size: 8pt;
}

.prodViewerAddToCartForm input.addToCartButton{
	background-image:url(images/productpage/sp_add_to_cart.jpg);
	height: 35px;
    width: 140px;
}

td.prodSummaryContainer div.productActionButtonCont{
	margin-top: 15px;
}

td.prodSummaryContainer a.productTellAFriend{
	cursor: pointer;
    float: left;
}

td.prodSummaryContainer a.productPrintProd{
	float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.productBottomContainer{
	background-color: #FFFFFF;
    float: left;
    margin-left: 5px;
    width: 715px;
}
.productBottomSection{
    float: left;
    margin: 0 0 0 5px;
    width: 409px;
}
.productBottomSection div.productSpecifications p{
	color: #000000;
    font-family: verdana,arial,helvetica;
    font-size: 8pt;
}
.productBottomSection div.productDetails ul li{
	font:normal 8pt/17px Arial, Helvetica, sans-serif;
	color:#595959;
	padding:5px;
	text-align:justify;
}
.prodlistRelatedContainer{
	background-color: #FFFFFF;
    float: left;
    width: 299px;
	padding-top: 10px;
	border:1px solid #D9D9D9;
}
.productBottomContainer h2{
    font: bold 9pt/20px Arial,Helvetica,sans-serif;
}
.prodlistRelatedContainer li{
	width: 275px;
	height: 189px;
}
.prodlistRelatedContainer li h3{
	width: 155px;
}
.prodlistRelatedContainer li div.productListPriceSection{
	width: 155px;
}

.variation{
	clear: left;
    float: left;
}
.variation > label:after{
    content: "";
    float: left;
	width: 100%;
}
.productVariations span{
	float:right;
}
.productVariations span.labelsAsBreaks{
	float:left;
}
.productVariations span.labelsAsBreaks label{
	clear: both;
    float: left;
}

.productAccessories{
}









/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/*****productListTemplateATC TEMPLATE****/
.lineItemProdlist > li.productListTemplateATC{
	margin: 1px;
    padding: 0;
	height:65px !important;
	width:100%;
	border: 2px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

.productListTemplateATC div.prodThumbContainer{
	background-color: #F8F8EE;
    border-right: 4px solid #FFFFFF;
    height: 65px;
    margin: 0;
    width: 72px;
}
.productListTemplateATC div.prodThumbContainer img{
	margin:5px;
	border:1px solid #CAC4AE;
}

.productListTemplateATC div.productListTemplateATCTextCont{
	background-color: #F8F8EE;
    float: left;
    height: 65px;
    width: 330px;
}
.productListTemplateATC div.productListTemplateATCTextCont div.productListTemplateATCTextContent{
	border-right: 4px solid #FFFFFF;
    float: left;
    height: 100%;
    width: 155px;
}
.productListTemplateATC div.productListTemplateATCTextCont h5{
	float: left;
	color: #0F67EC;
	font-size: 8pt;
	text-decoration:underline;
}
.productListTemplateATC div.productListTemplateATCTextCont h5:hover{
	color:#CC0000;
}
.productListTemplateATC div.productListTemplateATCTextCont h6{
	clear: left;
    float: left;
	color: #006EF1;
    font-size: 9pt;
    font-weight: bold;
}

.productListTemplateATCTextCont form.prodViewerAddToCartForm fieldset div.variation{
}
.productListTemplateATCTextCont form.prodViewerAddToCartForm fieldset div.variation > label:after{
}
.productListTemplateATCTextCont form.prodViewerAddToCartForm fieldset div.variation span.labelsAsBreaks{
}
.productListTemplateATCTextCont form.prodViewerAddToCartForm fieldset div.variation span.labelsAsBreaks label{
	clear: left;
    color: #000000;
    float: left;
    font-size: 14px;
    margin-top: 0;
    width: 250px;
}
.productListTemplateATCTextCont form.prodViewerAddToCartForm fieldset div.variation span.labelsAsBreaks label input{
}

.productListTemplateATC div.productListTemplateATCTextCont form.prodViewerAddToCartForm{
	float: left;
    height: 65px;
    width: 171px;
	position:relative;
}
.productListTemplateATC div.productListTemplateATCTextCont form.prodViewerAddToCartForm div.productListTemplateATCOptionsDropdown{
	border-right: 4px solid #FFFFFF;
    color: #0F67EC;
    float: left;
    font-size: 7pt;
    height: 65px;
    text-decoration: underline;
    width: 74px;
	cursor:pointer;
}
.productListTemplateATC div.productListTemplateATCTextCont form.prodViewerAddToCartForm div.productListTemplateATCOptionsDropdown:hover{
	color:#CC0000;
}
.productListTemplateATC div.productListTemplateATCTextCont form.prodViewerAddToCartForm div.productListTemplateATCOptionsDropdown p{
    color: #0F67EC;
    float: left;
    font-size: 7pt;
    height: 65px;
    text-decoration: underline;
    width: 74px;
	cursor:pointer;
}
.productListTemplateATC div.productListTemplateATCTextCont form.prodViewerAddToCartForm div.productListTemplateATCOptionsDropdown p:hover{
	color:#CC0000;
}

.productListTemplateATC div.productListTemplateATCTextCont form fieldset{
	border-right: 4px solid #FFFFFF;
    float: left;
    height: 65px;
    width: 70px;
}

.productListTemplateATCVariationsDropdownCont{
	height: 0;
    overflow: hidden;
    position: absolute;
    width: 250px;
	z-index:3;
	background-color:white;
}

.productListTemplateATC div.productListTemplateATCTextCont div.productListTemplateATCButtonCont{
	float: right;
    height: 65px;
    width: 93px;
}
.productListTemplateATC div.productListTemplateATCTextCont div.productListTemplateATCButtonCont fieldset{
	border: medium none;
    font-size: 12px;
    height: 20px;
    margin-bottom: 5px;
    margin-left: 5px;
    width: 100%;
}
.productListTemplateATC div.productListTemplateATCTextCont div.productListTemplateATCButtonCont fieldset input{
	width: 27px;
}
.productListTemplateATC div.productListTemplateATCTextCont div.productListTemplateATCButtonCont input.addToCartButton{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    font-size: 12px;
    margin-left: 5px;
    padding: 0;
    width: 83px;
}
.productListTemplateATC div.productListTemplateATCTextCont div.productListTemplateATCButtonCont input.addToCartButton:hover{
	background-color:#1286B5;
	color:#F8F8EE;
}











/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/*****SEARCH TEMPLATE****/
.searchRightSidebarCont{
	margin-top: 9px;
}










/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/*****productListTemplateResultsNoPreview TEMPLATE****/
.productList > li.searchResultsProduct{
	width:268px;
	height:124px;
	color: #666666;
    font-family: arial,helvetica;
    font-size: 8pt;
    border: 1px solid #025AAB;
	border-top: 5px solid #016DF4;
    background-color: #F8F8EE;
}
.productList > li.searchResultsProduct div.prodThumbContainer{
	margin-left: 5px;
    margin-top: 12px;
}
.productList > li.searchResultsProduct h5{
	color: #0F67EC;
	font-family: arial,helvetica;
    font-size: 9pt;
    font-weight: bold;
}
.productList > li.searchResultsProduct h5:hover{
	color:#CC0000;
}
.productList > li.searchResultsProduct h6{
	font-weight: bold;
	color: #666666;
    font-family: arial,helvetica;
    font-size: 8pt;
}
.productList > li.searchResultsProduct div.moreDetails{
	color: #0F67EC;
    font-family: arial,helvetica;
    font-size: 8pt;
    margin-top: 5px;
    text-decoration: underline;
}
.productList > li.searchResultsProduct div.moreDetails:hover{
	color:#CC0000;
}









/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/*****CART TEMPLATE****/
.cartStuffContainer{
	width: 750px;
}
.cartSummaryTotalsContainer{
}
.cartSummaryTotalsContainer section#cartTemplateCostSummary{
	float: left;
    margin-bottom: 5px;
    width: 100%;
}
.cartSummaryTotalsContainer section#cartTemplateShippingContainer{
	float: left;
    margin-bottom: 5px;
    width: 100%;
}
.cartSummaryTotalsContainer div.cartZipCodeContainer{
}
.cartSummaryTotalsContainer menu.cartAltButtonsContainer{
	margin-top: 10px;
}
.cartSummaryTotalsContainer div.checkoutButtonsContainer{
	margin-top: 10px;
}

.cartStuffContainer h2{
	font-size: 12pt;
	color: #000000;
    font-family: Arial,Helvetica,sans-serif;
}
.cartStuffContainer p{
	color: #000000;
    font-family: arial,helvetica;
    font-size: 8pt;
}
.cartStuffContainer p a{
	color:#0000EE;
}
.cartStuffContainer p a:hover{
	color:#CC0000;
}

.cartStuffListContainer button.checkoutButton{
	background-image: url("images/cart/sp_checkout.jpg");
    background-repeat: no-repeat;
    border-radius: 0;
    float: right;
    height: 35px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 149px;
	border:solid 1px #016DF4;
	border-bottom:none;
}

.cartStuffListTitleBar{
	background-color: #016DF4;
    float: left;
    height: 17px;
    padding: 5px 0 5px 5px;
    width: 99%;
}
.cartStuffListTitleBar h6{
	color: #FFFFFF;
    display: block;
    float: left;
    font-family: arial,helvetica;
    font-size: 9pt;
	margin-right: 325px;
}
.cartStuffListTitleBar p{
	color: #FFFFFF;
    display: block;
    float: left;
    font-family: arial,helvetica;
    font-size: 9pt;
    font-weight: bold;
    margin-right: 40px;
}

.cartBillMeLaterBanner{
	margin-top: 5px;
}

.cartUpdateCartButton{
	background-image: url("images/cart/sp_update_cart.jpg");
    border: medium none;
    clear: left;
    float: left;
    height: 35px;
    width: 140px;
}
.cartEmptyCartButton{
	background-image:url(images/cart/sp_empty_cart.jpg);
	border: medium none;
    clear: left;
    float: left;
    height: 35px;
    width: 140px;
}
.cartAltButtonsContainer button.continueShoppingButton{
	background-image:url(images/cart/sp_continue_shopping.jpg);
	border: medium none;
    clear: left;
    float: left;
    height: 35px;
    width: 140px;
}
.cartAltButtonsContainer button.checkoutButton{
	background-image:url(images/cart/sp_checkout.jpg);
	border: medium none;
    clear: left;
    float: left;
    height: 35px;
    width: 140px;
}
.checkoutButtonsContainer{
	float:left;
	clear:left;
}
.checkoutButtonsContainer i{
	color: #333333;
    font-family: arial,helvetica;
	font-size:7pt;
	float: left;
}

.cartBottomText{
}
.cartBottomText ul li{
	color: #000000;
    font-family: arial,helvetica;
    font-size: 8pt;
}













/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/*****productListTemplateCart TEMPLATE****/
.productList > li.productListTemplateCart{
	border: 1px solid #016DF4;
    padding: 0;
	float: left;
    margin-bottom: 0 !important;
	border-top:none;
	width: 746px !important;
}
.cartProductItemMainContentCont{
	border-right: 1px solid #016DF4;
    float: left;
    padding: 3px;
    width: 430px;
}
.cartProductListQuantCont{
	border-right: 1px solid #016DF4;
    float: left;
    height: 75px;
    margin-right: 10px;
    padding: 3px 13px;
}
.cartProductListPriceCont{
	border-right: 1px solid #016DF4;
    float: left;
    height: 75px;
    margin-right: 25px;
    padding: 3px 10px 3px 3px;
	width: 55px;
}
.cartProductListTotalCont{
	float: left;
    margin-left: 5px;
}

.cartProductListVariationsCont{
	border-top: 1px solid #016DF4;
	float:left;
	width:100%;
}
.cartProductListVariationsCont p{
	margin:0;
}
.productListTemplateCart div.prodOptions{
	float:left;
}














/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/*****CHECKOUT TEMPLATE****/

.panelContent section div div.passwordContainer{
	float: left;
}
.panelContent section div input{
}
.panelContent section div label.accountCreateContainer{
	clear: left;
    float: left;
}

.CheckoutReferenceNumberCont{
	float:left;
	clear:left;
}

.checkoutReturnCustNote{
	float:left;
}
.checkoutReturnCustNote span{
	color:#cc0000;
}

#checkoutRecoverPasswordContainer{
	float:left;
}

.chkoutAddressBillTemplate div.bill_company{
	display:none;
}

.chkoutAddressBillTemplate div.billCountry{
	float: left;
}
.chkoutAddressShipTemplate div.shipCountry{
	float: left;
}
a.checkoutIntShippingLink{
	color: #1286B5;
    float: left;
    font-size: 14px;
    margin-left: 5px;
}
a.checkoutIntShippingLink:hover{
	color:#cc0000;
}
.chkoutAddressBillTemplate div.checkoutBillPhone{
	clear: left;
    float: left;
}
div.checkoutBillToShipContainer{
	clear: left;
    float: left;
}

.chkoutAddressBillTemplate div.bill_company{
	display:none;
}
.chkoutAddressShipTemplate div.ship_company{
	display:none;
}

section.chkoutAddressBillTemplate div.checkoutBillPhone span.zhint{
	font-size: 14px;
}





/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/*****LOGIN MODAL TEMPLATE****/
#loginFormContainer{
	float: left;
    width: 182px;
}
#loginFormContainer form fieldset{
	border:solid 1px #848484;
}
#loginFormContainer form fieldset legend{
	color: #333333;
    font-family: arial,helvetica;
    font-size: 9pt;
    font-weight: bold;
}
#loginFormContainer form fieldset label{
	color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 8pt;
    text-align: left;
}
#loginFormContainer form fieldset span{
	color: #666666;
    float: left;
    font-family: arial,helvetica;
    font-size: 7pt;
    margin-bottom: 5px;
}
#loginFormContainer form fieldset input{
	background-color: #FFFFFF;
    border: 1px solid #C0C0C0;
    color: #000000;
    font-family: arial,helvetica;
    font-size: 8pt;
	width:152px;
	height:14px;
}
#loginFormContainer form fieldset input.ui-button{
	background-color: #0B2F79;
    background-image: none;
    border: 1px solid #0B2F79;
    border-radius: 0;
    color: #FFFFFF;
    font-family: arial,helvetica;
    font-size: 8pt;
    font-weight: 500;
    height: 19px;
    padding: 2px;
    width: 42px;
}
#loginFormContainer form fieldset input.recoverPasswordButton{
	background-color: #0B2F79;
    background-image: none;
    border: 1px solid #0B2F79;
    border-radius: 0;
    color: #FFFFFF;
    font-family: arial,helvetica;
    font-size: 8pt;
    font-weight: 500;
    height: 19px;
    padding: 2px;
    width: 111px;
}
.LoginModalInstructCont{
	color: #000000;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 8pt;
    margin: 0 0 0 10px;
    padding: 0;
    text-align: left;
    width: 270px;
}
.loginOption fieldset div{
	margin-bottom:0;
}
#recoverPasswordContainer form fieldset span{
}









/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/*****COMPANY TEMPLATE****/
.companyTemplate{
}
div.sideline{
	float: right;
    margin: 0 0 24px;
    width: 160px;
}
.companyTemplate div.sideline nav ul li a{
	color: #006FF1;
}
.companyTemplate div.sideline nav ul li a:hover{
	color:#FF0000;
}
div.mainColumn{
	float: left;
    margin-left: 5px;
    margin-right: 10px;
    width: 650px;
}

.article div div{
	line-height: 130%;
    color: #000000;
    font-family: arial,helvetica;
}
.article div p{
	color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
    line-height: 130%;
    font-size: 8pt;
}

.contactArticle{
}
.contactArticle p{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 8pt;
}
.contactArticle div.contactArticleTextCont{
	margin-left: 5px;
	float: left;
    width: 340px;
}
#contactForm{
	margin-right: 5px;
}

#paymentArticle p{
	color: #000000;
    font-family: arial,helvetica;
    font-size: 8pt;
    line-height: 130%;
    text-align: left;
}

.creatAccount h1:first-child{
	margin: 0 10px 10px 0;
}
.creatAccount h1{
	float: left;
    margin: 10px 10px 10px 0;
}
.creatAccount a{
	float: left;
    margin: 10px 10px 10px 0;
}
.creatAccount form#modalLoginForm1{
	float:left;
}
.creatAccount form fieldset input.ui-button{
	border: 1px outset #254A96;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    margin-top: -2px;
	
	background: #2c54a9; /* Old browsers */
	background: -moz-linear-gradient(top,  #2c54a9 1%, #10327a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#2c54a9), color-stop(100%,#10327a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2c54a9 1%,#10327a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2c54a9 1%,#10327a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2c54a9 1%,#10327a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2c54a9 1%,#10327a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c54a9', endColorstr='#10327a',GradientType=0 ); /* IE6-9 */

}
.creatAccount div form .createButton{
	border: 1px outset #254A96;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    padding: 3px;
	float: left;
	
	background: #2c54a9; /* Old browsers */
	background: -moz-linear-gradient(top,  #2c54a9 1%, #10327a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#2c54a9), color-stop(100%,#10327a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2c54a9 1%,#10327a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2c54a9 1%,#10327a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2c54a9 1%,#10327a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2c54a9 1%,#10327a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c54a9', endColorstr='#10327a',GradientType=0 ); /* IE6-9 */
}

.Account form.inputsAsBreaks{
	border: 2px groove threedface;
	padding: 10px;
	float: left;
}
.Account form.inputsAsBreaks span{
	color: #666666;
}

.fieldM div.selectWrapperC{
	display: inline-block;
}








/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/*****CHECKOUT TEMPLATE****/
.checkoutInternationalShippingWarning{
	color: #000000;
    font-family: Arial,Helvetica,sans-serif;
}

.checkoutTermsOfAgreementCB{
	float:left;
}
.checkoutTermsOfAgreementText{
	color: #000000;
    font-family: arial,helvetica;
    font-size: 10pt;
	float:left;
}
.checkoutTermsOfAgreementText a{
	color:#0000EE;
}
.checkoutTermsOfAgreementText a:hover{
	color:#CC0000;
}
.checkoutTermsOfAgreementWarningText{
	clear: left;
    color: #000000;
    float: left;
    font-family: arial,helvetica;
    font-size: 8pt;
}

.checkoutPlaceOrderButtonContainer{
	clear: left;
    float: left;
    height: 38px;
    position: relative;
    width: 138px;
}
.checkoutPlaceOrderButtonBlocker{
	background-color: #000000;
    height: 37px;
    opacity: 0.4;
    position: absolute;
    width: 135px;
    z-index: 1;
    filter: alpha(opacity=40); /* msie */
}
.checkoutPlaceOrderButton{
	opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
	height: 37px;
	width: 134px;
	font-size: 12pt !important;
}









/***********************************************************************************************************************************/
/***********************************************************************************************************************************/
/*****SPA FILTER CAT TEMPLATE****/
.filterCatBannerAndPointsCont{
	float: left;
}
.filterCatBannerAndPointsCont img{
	float:left;
}
.filterCatBannerAndPointsCont ul{
	float: left;
    width: 240px;
}

.filterCatDropdownCont{
	float: left;
    margin-top: 10px;
}

.filterCatBrandDropTextCont{
}
.filterCatBrandDropTextCont p{
	float: left;
    margin-left: 25px;
    margin-top: -2px;
    width: 300px;
}
.filterCatBrandCont{
	float: left;
}
.filterCatBrandCont label{
	float: left;
}
.filterCatBrandCont select{
	float: left;
    margin-left: 30px;
    width: 145px;
}

.filterCatNumberDropAndTextCont{
}
.filterCatNumberDropAndTextCont p{
	float: left;
    margin-left: 25px;
    margin-top: 3px;
    width: 300px;
}
.filterCatNumberDropdownContainer{
	float:left;
}
.filterCatNumberDropdownContainer div{
	margin-top: 5px;
}
.filterCarAladdinCont{
}
.filterCarAladdinCont label{
}
.filterCarAladdinCont select{
	margin-left: 8px;
    width: 145px;
}
.filterCatFilburCont{
}
.filterCatFilburCont label{
}
.filterCatFilburCont select{
	margin-left: 20px;
    width: 145px;
}
.filterCatPleatcoCont{
}
.filterCatPleatcoCont label{
}
.filterCatPleatcoCont select{
	margin-left: 7px;
    width: 145px;
}
.filterCatUnicelCont{
}
.filterCatUnicelCont label{
}
.filterCatUnicelCont select{
	margin-left: 16px;
    width: 145px;
}

.filterCatDiameterCont{
	float: left;
    margin-top: 20px;
}
.filterCatDiameterCont label{
	float: left;
}
.filterCatDiameterCont select{
	float: left;
    margin-left: 38px;
    width: 145px;
}
.filterCatDiameterCont p{
	float: left;
    margin-left: 25px;
    margin-top: -2px;
    width: 300px;
}

.spaFiltersCategoryTemplate div.categoryMainContentSection p{
	font-family: Arial,Helvetica,sans-serif
}
.spaFiltersCategoryTemplate div.categoryMainContentSection li font{
	font-family: Arial,Helvetica,sans-serif
}
.spaFiltersCategoryTemplate div.categoryMainContentSection label{
	font-family: Arial,Helvetica,sans-serif
}